* {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
}

button {
  margin: 2rem 0;
  padding: 1rem 2rem;
  width: 120px;
  cursor: pointer;
}

.container{
  margin: 0,10,0,0;
  display: flex;
  background: url(../src/img/background.jpg) no-repeat center center fixed;
  background-size: cover; /* for IE9+, Safari 4.1+, Chrome 3.0+, Firefox 3.6+ */
  -webkit-background-size: cover; /* for Safari 3.0 - 4.0 , Chrome 1.0 - 3.0 */
  -moz-background-size: cover; /* optional for Firefox 3.6 */ 
  -o-background-size: cover; /* for Opera 9.5 */
  background-size: cover;
  filter: saturate(120%);
}

.shadow{
  text-shadow: 2px 2px #ffffff42;
}

.link{
  text-decoration: none;
  color: inherit;
}

.topAvatar{
  width: 50px!important;
  height: 50px!important;
  border-radius: 50px !important;
  cursor: pointer!important;  
  margin-right: 5px!important;
}

.content{
  flex: 4;
  padding: 10px;
  
}